.mainPage {
  text-align: center;

  h1 {
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 700;
    line-height: 82px;
    color: #E59C9C;
  }

  .main_tagline{
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
  }
}
